<div id="mc_embed_signup">
  <form action="//skeletonoptics.us8.list-manage.com/subscribe/post?u=c04e39480f3310c8b79cd0943&amp;id=520549606d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate input-group mailchimp-signup" target="_blank" novalidate>
    <ul class="inline-form cf">
      <li class="text">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </li>
      <li class="submit">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_c04e39480f3310c8b79cd0943_520549606d" tabindex="-1" value="">
        </div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </li>
    </ul>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
</div>
<style media="screen">
  #mce-responses {
    margin-top: 12px;
    color: white;
  }
</style>
