{% assign image_size = 'large' %}
{% if product.tags.size > 0 %}
<div class="related-products inline">
  <h2>Related Products</h2>
  <ul class="row"></ul>
</div>
<script type="text/javascript" charset="utf-8">
jQuery(document).ready(function($) {
  var recommendations = [];
  {% for tag in product.tags %}
    recommendations.push('{{ tag | handle }}');
  {% endfor %}
  if (recommendations.length) {
    var list = $('.related-products ul.row');
    var array = [];
    $.ajax({
      url: window.location.origin + '/admin/products.json',
      success: function(res) {
        var products = res.products
        for(var i=0; i<recommendations.length; i++) {
          for(var j=0; j<products.length; j++) {
            if(recommendations[i] === products[j].handle) {
              array.push({
                title: products[j].handle,
                id: products[j].id
              });
            }
          }
        }
      }
    }).done(function() {
      for (var i=0; i<array.length; i++) {
        $.ajax({
          url: window.location.origin + '/admin/products/' + array[i].id + '.json',
          success: function(res) {
            var product = res.product;
            list.append('<li class="col-sm-4">'+
              '<div class="image">'+
                '<a href="' + product.url +'">'+
                  '<img src="' + product.images[0].src + '" class="img-full" />'+
                '</a>'+
              '</div>'+
              '<h4>'+
                '<a href="' + product.url + '">' + product.title + '</a>'+
              '</h4>'+
              '<span class="money">' + Shopify.formatMoney(product.price, "{{ shop.money_format }}") + '</span>'+
            '</li>');
          }
        });
      }
    });
  }
});
</script>
{% endif %}
