<div id="shop">
  {% if collection.image %}
    <div class="full-page-banner">
      {% capture hero %}{{ collection.image  | img_url: 'master' }}{% endcapture %}
      <img src="{{hero}}" alt="Shop Hero" class="img-full" />
      <div class="caption">
        <h1 class="uppercase">Shop</h1>
        <span class="uppercase">{{ collection.title }}</span>
      </div>
    </div>
  {% endif %}

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        {% include 'collection-filters' %}
        <div class="row collection-list">
          {% if collection.description.size > 0 %}
          <div class="rte">
            {{ collection.description }}
          </div>
          {% endif %}
            {% for product in collection.products %}
              <div class="col-xs-12 col-sm-6 col-md-3">
                {% include 'product-grid-item' %}
              </div>
            {% else %}
            <div class="col-xs-12">
              <h3>Unfortunately no products match your criteria! Please try removing some filters.</h3>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
